/* Google Font*/
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Titillium+Web&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


footer {
    width: 99.4%;
    height: 50px;
    display: flex;
    align-items: center; /* alinhamento vertical */
    justify-content:center;
    padding: 5px; /* espaçamento ao redor do conteúdo */
    background-color: rgb(18, 18, 18);
    border-radius: 7px;
    position: absolute;
    bottom: 5px;
    margin: 5px;
}


nav .registro {
    color:  rgb(230, 138, 0);
    text-decoration: none;
    font-family: 'Titillium Web', sans-serif;
}