/* Google Font*/
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Titillium+Web&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: blanchedalmond;
    background-image: url(../img/kobe.jpg);
    background-size: cover;
    
    background-repeat: no-repeat;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-family: Aboreto;
    background-color: rgb(18, 18, 18, 0.7);
}

h2 {
    margin-left: 10px;
    font-family: 'Titillium Web', sans-serif;
}

a {
    margin: 20px;
}

select {
    margin-left: 440px;
}

header nav a {
    text-decoration: none;
    color: blanchedalmond;
    font-family: 'Titillium Web', sans-serif;
    margin: 10px;
}

header nav a:hover {
    color: rgb(178, 169, 154);
}

main {
    display: flex;
    justify-content: space-between;
}
