header {
    display: flex;
    justify-content: space-between; /* alinhamento horizontal */
    align-items: center; /* alinhamento vertical */
    padding: 5px; /* espaçamento ao redor do conteúdo */
    position: fixed;
    top: 0;

    font-family: Aboreto;
    background-color: rgb(18, 18, 18);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.9);

    border-radius: 7px;
    margin: 5px;
    width: 99.4%;
}

.handlerNav {
    font-family: 'Titillium Web', sans-serif;
}

a {
    margin: 20px;
    text-decoration: none;
    color: #ddd9ce;

}

a:hover {
    color: rgb(178, 169, 154);
}

.handlerLink {
    font-family: 'Titillium Web', sans-serif;
}