/* Google Font*/
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Titillium+Web&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:  #ddd9ce;


    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Header */

header {
    display: flex;
    justify-content: space-between; /* alinhamento horizontal */
    align-items: center; /* alinhamento vertical */
    padding: 5px; /* espaçamento ao redor do conteúdo */
    position: fixed;
    top: 0;

    font-family: Aboreto;
    background-color: rgb(18, 18, 18);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.9);

    border-radius: 7px;
    margin: 5px;
    width: 99.4%;
    height: 40px;
}

.handlerNav {
    font-family: 'Titillium Web', sans-serif;
}

a {
    margin: 20px;
    text-decoration: none;
    color: #ddd9ce;
    padding: 20px;
}

a:hover {
    color: rgb(178, 169, 154);
}

.handlerLink {
    font-family: 'Titillium Web', sans-serif;
}

/* Main */

main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 5px;
}

h2 {
    margin-top:  70px;
}

/* Footer */

footer {
    position: fixed;
    display: flex;
    bottom: 5px;

    width: 99.4%;
    height: 20px;
    border-radius: 7px;
    margin: 5px;
    
    align-items: center; /* alinhamento vertical */
    justify-content:center;
    padding: 5px; /* espaçamento ao redor do conteúdo */

    background-color: rgb(18, 18, 18);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.9);
}


nav .registro {
    color:  #ddd9ce;
    text-decoration: none;
    font-family: 'Titillium Web', sans-serif;
    font-size: 10px;
}