/* Google Font*/
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Titillium+Web&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:  #FFFDF7;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Cabeçalho */
header {
    display: flex;
    justify-content: center; /* alinhamento horizontal */
    align-items: center; /* alinhamento vertical */
    padding: 5px; /* espaçamento ao redor do conteúdo */
    position: fixed;
    top: 0;

    font-family: Aboreto;
    background-color: #6A7391;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);

    border-radius: 7px;
    margin: 5px;
    width: 99.4%;
    height: 40px;
}

.handlerNav {
    font-family: 'Titillium Web', sans-serif;
}

a {
    margin: 20px;
    text-decoration: none;
    color: #C7AC61;
    padding: 20px;
}

a:hover {
    color: #FFDA73;
}

.handlerLink {
    font-family: 'Titillium Web', sans-serif;
}

/* Corpo do página */
main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 5px;
}

h2 {
    margin-top:  70px;
}

/* Rodapé */
footer {
    position: fixed;
    display: flex;
    bottom: 5px;

    width: 99.4%;
    height: 20px;
    border-radius: 7px;
    margin: 5px;
    
    align-items: center; /* alinhamento vertical */
    justify-content:center;
    padding: 5px; /* espaçamento ao redor do conteúdo */

    background-color: #6A7391;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
}


nav .registro {
    color:  #F5CA56;
    text-decoration: none;
    font-family: 'Titillium Web', sans-serif;
    font-size: 10px;
}